<!-- Template for single events -->
<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
    <!-- Here we'll place the event title -->
    <title>title to change</title>
</head>

<body>
    <div class="container-fluid">
        <!-- NAVBAR -->
        <div class="row">
            <div class="col-md-12">
                {{ partial "header.html" . }}
            </div>
        </div>
        <!-- MAIN -->
        <main class="main">
            <div class="row">
                <div class="col-md-3 mt-3">
                    <!-- <div class="jumbotron"> -->
                    <div class="card">
                        <div class="view overlay">
                            <!-- Range on the photo array of event -->
                            {{ range .Params.Photo }}
                            <!-- si vide -->
                            {{ if eq . "" }}
                            <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
                            <!-- sinon -->
                            {{ else }}
                            <img class="card-img-top" src="{{ . }}" alt="Card image cap">
                            <!-- endif -->
                            {{ end }}
                            <!-- End range -->
                            {{ end }}
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body elegant-color white-text rounded-bottom">
                            <a class="activator waves-effect mr-4"></a>
                            <ul>
                                <li> At:
                                    <!-- Go through the adresse array -->
                                    {{ range .Params.Adresse }}
                                    <!-- Create an address variable -->
                                    {{ $address := print .address " " .postalCode " " .city}}
                                    <!-- Display the variable with filter -->
                                    {{ $address | safeHTML }}
                                    <!-- End of range-->
                                    {{ end }}
                                </li>
                                <li> On the: {{ dateFormat "02 January 2006" .Params.When }} </li>
                                <!-- Si l'association n'est pas précisé -->
                                {{ if eq .Params.Association "" }}
                                <li>By: Undefined </li>ddd
                                <!-- If organisation is defined -->
                                {{ else }}
                                <!-- We store the value of the event's association -->
                                {{ $oragnization := print .Params.Association }}
                                <!-- We go through every pages of the site -->
                                {{ range .Site.Pages }}
                                <!-- if page of type associations -->
                                {{ if eq .Type "associations" }}
                                <!-- Si le title de l'association actuel, correspond au title de l'association de l'event, stocké avant le range -->
                                {{ if eq .Params.Title $oragnization }}
                                <!-- On affiche le nom de l'association avec un lien vers sa single page -->
                                By:
                                <a href="{{ .Permalink }}">
                                            {{ $oragnization }}
                                        </a>
                                <!-- endif -->
                                {{ end }}
                                <!-- endif -->
                                {{ end }}
                                <!-- endrange -->
                                {{ end }}
                                <!-- endif-->
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="col-md-9 mt-3">
                    <div class="jumbotron">
                        <h1>{{ .Title }}</h1>
                        <hr class="hr-dark">
                        <p>
                            {{ .Description }}
                        </p>
                    </div>
                </div>
            </div>
        </main>

        <!-- FOOTER-->
        <div class="row">
            <div class="col-md-12">
                {{ partial "footer.html" . }}
            </div>
        </div>
    </div>
</body>

</html>