<!-- TRY TO PLACE ALL LIST HERE -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- We call the head partial -->
    {{ partial "head.html" . }}
    <title>Municipal council</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <header>
                    {{ partial "header.html" . }}
                </header>
            </div>
        </div>
        <main class="main mb-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1 class="text-center">Municipal Council </h1>
                    </div>
                </div>
            </div>
            {{ partial "townHallPresentation.html" . }}

            <!-- RANGE FOR THE MAYOR -->
            {{ range (where .Site.RegularPages "Type" "municipalCouncil" ) }}
            <!-- if the man is the mayor-->
            {{ if eq .Params.Role "mayor" }}
            <div class="row mt-5">
                <div class="col-md-12">
                    <h1>Mayor</h1>
                    <hr>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4 text-center">
                    <div class="jumbotron">
                        <!-- We call partial to display cards -->
                        {{ partial "municipalCard.html" . }}
                    </div>
                </div>
            </div>
            <!-- endif -->
            {{ end }}
            <!-- endrange -->
            {{ end }}

            <div class="row mt-5">
                <div class="col-md-12">
                    <h1>Adjoint(s)</h1>
                    <hr>
                </div>
            </div>
            <div class="row mt-2">
                <!-- RANGE FOR THE ADJOINTS -->
                {{ range (where .Site.RegularPages "Type" "municipalCouncil" ) }}
                <!-- if the man is the mayor-->
                {{ if eq .Params.Role "adjoint" }}
                <div class="col-md-4 text-center">
                    <div class="jumbotron">
                        <!-- We call partial to display cards -->
                        {{ partial "municipalCard.html" . }}
                    </div>
                </div>
                <!-- endif -->
                {{ end }}
                <!-- endrange -->
                {{ end }}
            </div>

            <div class="row mt-5">
                <div class="col-md-12">
                    <h1>Our great staff</h1>
                    <hr>
                </div>
            </div>
            <div class="row mt-2">
                <!-- RANGE FOR THE ADJOINTS -->
                {{ range (where .Site.RegularPages "Type" "municipalCouncil" ) }}
                <!-- if the man is the mayor-->
                {{ if and (ne .Params.Role "adjoint") (ne .Params.Role "mayor") }}
                <div class="col-md-4 text-center">
                    <div class="jumbotron">
                        <!-- We call partial to display cards -->
                        {{ partial "municipalCard.html" . }}
                    </div>
                </div>
                <!-- endif -->
                {{ end }}
                <!-- endrange -->
                {{ end }}
            </div>





    </div>
    </main>
    <div class="row">
        <div class="col-md-12">
            {{ partial "footer.html" }}
        </div>
    </div>
    </div>
</body>

</html>