<!-- Template for single events -->
<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
    <!-- Here we'll place the event title -->
    <title>{{ .Title }}</title>
</head>

<body>
    <div class="container-fluid">
        <!-- NAVBAR -->
        <div class="row">
            <div class="col-md-12">
                {{ partial "header.html" . }}
            </div>
        </div>
        <!-- MAIN -->
        <main class="main">
            <div class="row">
                <div class="col-md-4">
                    <!-- if there is not picture -->
                    {{ if eq .Params.Photo "" }}
                    <img src="https://via.placeholder.com/500" width="100%" height="100%" alt="placeholder image" class="img-fluid img-thumbnail ">
                    <!-- if picture not empty -->
                    {{ else }}
                    <img src="{{ .Params.Photo }} " alt="Council member picutre " class="img-fluid img-thumbnail ">
                    <!-- endif -->
                    {{ end }}
                </div>
                <div class="col-md-8">
                    <div class="jumbotron">
                        <!-- recover the mayor name and upper it -->
                        {{ $nameUpper := .Params.LastName | upper }}
                        <h1>
                            {{.Params.FirstName }} {{ $nameUpper }}
                            <span style="float:right;" class="badge badge-primary">{{ .Params.Role }}</span>
                        </h1>
                        <hr class="hr-dark">
                        <!-- Si il y a une description -->
                        {{ if ne .Params.Content "" }}
                        <p class="card-text"> {{ .Content }}</p>
                        <!-- endif -->
                        {{ end }}
                    </div>
                </div>
            </div>
        </main>

        <!-- FOOTER-->
        <div class="row ">
            <div class="col-md-12 ">
                {{ partial "footer.html" . }}
            </div>
        </div>
    </div>
</body>

</html>