{{ define "main" }}
<div class="row">
    <!-- go through every pages of the site -->
    {{ range first 10 ((where (where .Site.Pages "Type" "events") ".Params.important" "!=" false ) sort ".Params.When" "asc") }}

    <!-- display title -->
    <div class="col-md-4 mt-3">
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="">
            <div class="card-body">
                <div class="card-title">
                    <!-- if event still in draft state -->
                    {{ if eq .Params.Draft true}}
                    <!-- We display the title witout the link -->
                    {{ .Title }}
                    <!-- else -->
                    {{ else }}
                    <a href="{{ .Permalink }}">
                        <!-- We display the title -->
                        {{ .Title }}
                    </a>
                    <!-- endif -->
                    {{ end }}
                </div>
                <hr>
                <p class="small">{{ .Params.Label }}</p>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
    <!-- endrange -->
    {{ end }}
</div>
{{ end }}